body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: rgb(240, 240, 240);
}

h1 {
    font-size: 3em;
}

a {
    text-decoration: none;
    color: inherit;
}

/* LOGO */
header {
    position: sticky;
    top: 0px;
    background-color:#e7d6ff;
    padding: 1em;
    margin-bottom: 1em;
    color: #000;
}

.logo {
    padding: 1em;
    line-height: 50%;    
}

/* NAVBAR */
.navigationBar{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    position: sticky;
}

.navItem {
    width: 10%;
    text-align: center;
    padding: 1em 0.5em;
    margin: 5px 10px;
    box-shadow: #b181f37c 0px 2px 8px 0px;
    border-radius: 5%;
}

.navItem:hover {
    background-color: black;    
    color: white;
}

/* PRODUCT GRID */
.gridContainer {
    width: 70%;
    margin: auto;
}

.gridHeader {
    color: inherit;
    padding: 5px 10px;
}

.categoryNav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding: 10px 0px;
}

.catItem {
    width: 10%;
    text-align: center;
    padding: 1em 0.5em;
    margin: 5px 10px;
    border-radius: 5%;
    box-shadow: #b181f37c 0px 2px 8px 0px;
}

.catItem:hover {
    background-color: black;    
    color: white;
}
.productGrid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    justify-content: space-between;
    /* background-color: rgb(197, 197, 197); */
}

.productCard {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;

    border: 1px solid rgb(196, 196, 196);
    padding: 15px 10px;
    margin: 15px 10px;

    /* background-color: #fff; */
    box-shadow: rgba(165, 165, 165, 0.2) 0px 2px 8px 0px;
}

.productCard:hover {
    box-shadow: rgba(165, 165, 165, 0.2) 0px 3px 8px 5px;
}

.productImg {
    width: 200px;
    height: 200px;
}

/* SOBRE NÓS */
.aboutSection {
    display: flex;
    flex-wrap: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    width: 60%;
    /* margin: auto; */
}

.aboutImg {
    height: 400px;
    padding: 1em;
    margin: 1em;
}

.aboutDecription {
    height: 400px;
    /* padding: 1em; */
    margin: 1em;
}

/* CONTATO */
.formContainer {
    /* display: flex; */
    /* flex-wrap: column nowrap; */
    justify-content: flex-start;
    align-items: flex-start;

    padding: 1em;
    margin: 1em;
    /* width: 60%; */
    /* margin: auto; */
}

/* .formHeader */

.formBody {
    display: flex;
    flex-wrap: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.formArea {
    display: flex;
    flex-wrap: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}

/* .inputItem */

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 1024px) {
    body {
        font-size: x-small;
    }
    .productGrid {
        width: 90%;
        margin: auto;
    }
    .productImg {
        width: 100px;
        height: 100px;
    }
}